<div id="viewfooter">
    <hr>
    <a style="float: left;"    href="http://www.topicquests.org/"><img src="/images/TopicQuestsLogo_sm.png"></a>
    <a style="float: right;" href="https://github.com/KnowledgeGarden/lite-net-2"><img src="/images/github-1.jpg"></a></td>
</div>