<script>

  function validateForm() {
    var x = $("#subjx").val();
    if (!x || x === "") {
        alert("Subject required");
        return false;
    }
    x = $("#predx").val();
    if (!x || x === "") {
      alert("Predicate required");
      return false;
    }
    x = $("#objx").val();
    if (!x || x === "") {
      alert("Object required");
      return false;
    }
    var urltpl = document.getElementById('urxfield').value.trim();
    return validURL(urltpl);
  }

  function doClick() {
    return validateForm();
  }

  var predicates = JSON.parse('{{{toJSON predicates}}}');
  
  function initTriples() {
    
    //alert(predicates);
    predicates = predicates.terms;
    //subject
    $('.subjectF').typeahead({
      source: function (query, process) {
        //alert(process);
        return $.get('/ajax/label', { query: query }, function (data) {
            //alert(data);
            return process(data.options);
        });
      }
    });
    //predicate
    var $input = $(".predicateF");
    $input.typeahead({
      source: predicates,
      autoSelect: true
    });
    $input.change(function() {
      
      var current = $input.typeahead("getActive");
      //alert(current);
      if (current) {
        if (current == $input.val()) {
          // This means the exact match is found. Use toLowerCase() if you want case insensitive match.
        } else {
          // This means it is only a partial match, you can either add a new item
          // or take the active if you don't want new items
        }
      } else {
        // Nothing is active so it is a new value (or maybe empty value)
      }
    });
    //object
    $('.objectF').typeahead({
      source: function (query, process) {
        //alert(process);
        return $.get('/ajax/label', { query: query }, function (data) {
            //alert(data);
            return process(data.options);
        });
      }
    });
  }

  $( document ).ready(function() {
    initTriples();   
  });
  
</script>

<form id="ttForm" method="POST" action="/postAtriple" onsubmit="return doClick()">
  <input class="subjectF" id="subjx" name="subject" placeholder="Subject" type="text" style='width:15em' autocomplete="off">
  <input class="predicateF" id="predx" name="predicate" placeholder="Predicate" type="text" style='width:15em' autocomplete="off">
  <input class="objectF" id="objx" name="object" placeholder="Object" type="text" style='width:15em' autocomplete="off"><br/><br/>
  <input id="urxfield" name="url" placeholder="url" type="text" value="{{url}}" style='width:40em'><br/><br/>
  <textarea placeholder="Comments" name="notes" rows="4" cols="94"></textarea><br/>
  <button type="submit" class="btn btn-secondary" form="ttForm">Submit</button>
</form>