<div  class="navbar navbar-light navbar-fixed-top" role="navigation" style="background-color: #e3f2fd;">
    <div style="margin-left: 50px; margin-right: 50px;" class='row'>
        <div class="navbar-header">
            <a style='padding-left: 5px; font-family: "Comic Sans MS", cursive, sans-serif; font-size: 30px; color: #4CAF50; margin-top: 5px;'href="/"><img style="margin-bottom: 5px;"src="/images/map.gif">  {{title}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" >
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{#if isAuthenticated }}
                            <li><a href="/logout">Logout</a></li>
                        {{else}}
                            <li><a href="/login">Login</a></li>
                        {{/if}}
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
<script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "400px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>