<h1><a href="/">{{title}}</a></h1>
<script>
  $( document ).ready(function() {
    //initTriples();   
    if (!predicates) {
      predicates = JSON.parse('{{{toJSON predicates}}}');
    }
  });

  function doText() {
    $('#tripleXform').hide();
    $('#textXform').show();
    document.getElementById('txb').classList.remove('btn-secondary');
    document.getElementById('txb').classList.add('btn-primary');
    document.getElementById('ttb').classList.remove('btn-primary');
    document.getElementById('ttb').classList.add('btn-secondary');
  }
  function doTriple() {
    
    $('#textXform').hide();
    $('#tripleXform').show();
    document.getElementById('ttb').classList.remove('btn-secondary');
    document.getElementById('ttb').classList.add('btn-primary');
    document.getElementById('txb').classList.remove('btn-primary');
    document.getElementById('txb').classList.add('btn-secondary');
    initTriples();
  }
</script>
<button type="button" id="txb" class="btn btn-primary" onclick="doText()">Text Form</button>
<button type="button" id="ttb" class="btn btn-secondary" onclick="doTriple()">Triple Form</button>
    <div id="textXform">
      {{> air_form}}
    </div>
    <div id="tripleXform" style="display: none">
      {{> triple_form}}
    </div>
<row>
  <!-- iframe -->
  <h3>Page to Harvest</h3>
   <iframe src="{{url}}" height="400" width="900"></iframe> 
</row>