<h1><a href="/">{{title}}</a></h1>

<style>
  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color:#99ccff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}
#harvest {
  width: 900px;
  margin: left;
}
</style>
<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "700px";
  }

  /* Set the width of the side navigation to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  $( document ).ready(function() {
    //initTriples();   
    if (!predicates) {
      predicates = JSON.parse('{{{toJSON predicates}}}');
    }
  });

  function doText() {
    $('#tripleXform').hide();
    $('#textXform').show();
    document.getElementById('txb').classList.remove('btn-secondary');
    document.getElementById('txb').classList.add('btn-primary');
    document.getElementById('ttb').classList.remove('btn-primary');
    document.getElementById('ttb').classList.add('btn-secondary');
  }
  function doTriple() {
    
    $('#textXform').hide();
    $('#tripleXform').show();
    document.getElementById('ttb').classList.remove('btn-secondary');
    document.getElementById('ttb').classList.add('btn-primary');
    document.getElementById('txb').classList.remove('btn-primary');
    document.getElementById('txb').classList.add('btn-secondary');
    initTriples();
  }
</script>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <button type="button" id="txb" class="btn btn-primary" onclick="doText()">Text Form</button>
      <button type="button" id="ttb" class="btn btn-secondary" onclick="doTriple()">Triple Form</button>
      <div id="textXform">
        {{> air_form}}
      </div>
      <div id="tripleXform" style="display: none">
        {{> triple_form}}
      </div>
</div>
<div id="main">
  <div id="harvest">
    <b>Page to Harvest</b>
    <span style="float: right;" onclick="openNav()">Open Editors</span>
  </div><br/>
  <iframe src="{{url}}" height="600" width="900"></iframe>
</div>

