
<script>
  var which = 'text';
  function doText() {
    
    $('#tripleXform').hide();
    $('#urlXform').hide();
    $('#textXform').show();
    if (which === 'triple') {
      document.getElementById('txb').classList.remove('btn-secondary');
      document.getElementById('txb').classList.add('btn-primary');
      document.getElementById('ttb').classList.remove('btn-primary');
      document.getElementById('ttb').classList.add('btn-secondary');
    } else {
      document.getElementById('txb').classList.remove('btn-secondary');
      document.getElementById('txb').classList.add('btn-primary');
      document.getElementById('tub').classList.remove('btn-primary');
      document.getElementById('tub').classList.add('btn-secondary');

    }
    which = 'text';
  }
  function doTriple() {
    $('#urlXform').hide();
    $('#textXform').hide();
    $('#tripleXform').show();
    if (which === 'text') {
      document.getElementById('ttb').classList.remove('btn-secondary');
      document.getElementById('ttb').classList.add('btn-primary');
      document.getElementById('txb').classList.remove('btn-primary');
      document.getElementById('txb').classList.add('btn-secondary');
    } else {
      document.getElementById('ttb').classList.remove('btn-secondry');
      document.getElementById('ttb').classList.add('btn-primary');
      document.getElementById('tub').classList.remove('btn-primary');
      document.getElementById('tub').classList.add('btn-secondary');
    }
    which = 'triple';
    initTriples();
  }
  function doUrl() {
    $('#urlXform').show();
    $('#textXform').hide();
    $('#tripleXform').hide();
    if (which === 'text') {
      document.getElementById('txb').classList.remove('btn-primary');
      document.getElementById('txb').classList.add('btn-secondary');
      document.getElementById('tub').classList.remove('btn-secondary');
      document.getElementById('tub').classList.add('btn-primary');
    } else {
      document.getElementById('ttb').classList.remove('btn-primary');
      document.getElementById('ttb').classList.add('btn-secondary');
      document.getElementById('tub').classList.remove('btn-secondary');
      document.getElementById('tub').classList.add('btn-primary');
    }
    which = 'triple';
    initTriples();
  }
  function doIClick() {
    var iurl = document.getElementById('fName').value.trim();
    var truth = validURL(iurl);
   // alert(iurl, truth);
    return truth; //validURL(iurl);
  }

</script>
<style>
  #mypara {
    width: 800px; border-style: solid; border: 1px solid green;
  }
  #mypara:hover {
    background-color: rgba(255, 255, 0, 0.801);
  }
</style>
<h2>Journal</h2>
<h4><a href="/topics">Topics Index</a></h4>
{{#if isAuthenticated}}
  <button type="button" id="txb" class="btn btn-primary" onclick="doText()">Text Form</button>
  <button type="button" id="ttb" class="btn btn-secondary" onclick="doTriple()">Triple Form</button>
  <button type="button" id="tub" class="btn btn-secpmdaru" onclick="doUrl()">URL Form</button>
  <div id="textXform">
    {{> air_form}}
  </div>
  <div id="tripleXform" style="display: none">
    {{> triple_form}}
  </div>
  <div id="urlXform" style="display: none">
    <form method="get" action="/iframe" onsubmit="return doIClick()">
      <input type="text" placeholder="Url to view" id="fName" name="fName" style='width:20em'>
      <button type="submit">Submit</button><br/>
      <b>Note: Not all websites will allow this iframe request.</b>
    </form>
  </div>
  <hr>
{{/if}}
<h3>Journal Entries</h3>

<div style="overflow-y: auto; height:300px;">
  {{#each noteList}}
    <div id="mypara">
      <a href="/journal/{{id}}">{{date}}</a><br/>
      {{{text}}}
    </div><br/>
  {{/each}}
</div>



