
<script>
  var which = 'text';
  function doText() {
    
    $('#tripleXform').hide();
    $('#urlXform').hide();
    $('#textXform').show();
    if (which === 'triple') {
      document.getElementById('txb').classList.remove('btn-secondary');
      document.getElementById('txb').classList.add('btn-primary');
      document.getElementById('ttb').classList.remove('btn-primary');
      document.getElementById('ttb').classList.add('btn-secondary');
    } else {
      document.getElementById('txb').classList.remove('btn-secondary');
      document.getElementById('txb').classList.add('btn-primary');
      document.getElementById('tub').classList.remove('btn-primary');
      document.getElementById('tub').classList.add('btn-secondary');

    }
    which = 'text';
  }
  function doTriple() {
    $('#urlXform').hide();
    $('#textXform').hide();
    $('#tripleXform').show();
    if (which === 'text') {
      document.getElementById('ttb').classList.remove('btn-secondary');
      document.getElementById('ttb').classList.add('btn-primary');
      document.getElementById('txb').classList.remove('btn-primary');
      document.getElementById('txb').classList.add('btn-secondary');
    } else {
      document.getElementById('ttb').classList.remove('btn-secondry');
      document.getElementById('ttb').classList.add('btn-primary');
      document.getElementById('tub').classList.remove('btn-primary');
      document.getElementById('tub').classList.add('btn-secondary');
    }
    which = 'triple';
    initTriples();
  }
  function doUrl() {
    $('#urlXform').show();
    $('#textXform').hide();
    $('#tripleXform').hide();
    if (which === 'text') {
      document.getElementById('txb').classList.remove('btn-primary');
      document.getElementById('txb').classList.add('btn-secondary');
      document.getElementById('tub').classList.remove('btn-secondary');
      document.getElementById('tub').classList.add('btn-primary');
    } else {
      document.getElementById('ttb').classList.remove('btn-primary');
      document.getElementById('ttb').classList.add('btn-secondary');
      document.getElementById('tub').classList.remove('btn-secondary');
      document.getElementById('tub').classList.add('btn-primary');
    }
    which = 'triple';
    initTriples();
  }
</script>
<h2>Journal</h2>
{{#if isAuthenticated}}
  <button type="button" id="txb" class="btn btn-primary" onclick="doText()">Text Form</button>
  <button type="button" id="ttb" class="btn btn-secondary" onclick="doTriple()">Triple Form</button>
  <button type="button" id="tub" class="btn btn-secpmdaru" onclick="doUrl()">URL Form</button>
  <div id="textXform">
    {{> air_form}}
  </div>
  <div id="tripleXform" style="display: none">
    {{> triple_form}}
  </div>
  <div id="urlXform" style="display: none">
    <form method="get" action="/iframe">
      <input type="text" placeholder="Url to view" id="fName" name="fName" style='width:20em'>
      <button type="submit">Submit</button>
    </form>
  </div>
  <hr>
{{/if}}
<h3>Journal Entries</h3>

<div style="overflow-y: auto; height:300px;">
  {{#each noteList}}
    <p>
      {{date}}<br/>
      {{{text}}}
    </p><br/>
  {{/each}}
</div>



