<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/css/style.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/default.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/medium-editor.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <style>
      .flashMsg {
        border: 8px solid #272525;
        border-radius: 14px;
        width: 900px;
        font-size: 150%;
        background: white;
      }
    </style> 
    <script>
      //shared
      //https://www.tutorialspoint.com/How-to-validate-URL-address-in-JavaScript
      var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.?)+[a-z]{2,}|'+ // domain name
        '((\\d{1,3}\\.){3}\\d{1,3}))'+ // ip (v4) address
        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ //port
        '(\\?[;&amp;a-z\\d%_.~+=-]*)?'+ // query string
          '(\\#[-a-z\\d_]*)?$','i');
 
      function validURL(myURL) {
        if (myURL === "" || pattern.test(myURL)) {
            return true;
        } else {
            alert("Bad URL");
            return false;
        }
      }
      
    </script> 
  </head>
  <body>
      {{> webmenubar}}
    <div container>
      {{#if flashMsg}}
          <p class="flashMsg">{{{flashMsg}}}</p>
      {{/if}}
      {{{body}}}
      {{> footer}}
    </div>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap3-typeahead.js"></script>
    <script type="text/javascript" src="/js/medium-editor.min.js"></script>

  </body>

</html>
