<div style="margin-top: 50px;">
    <div style="margin-left: 20px">
        <form method="post" action="/login">
        <p>
            <b>Email</b><br/>
            <input type="text" name="email" size="40">

        </p>
        <p>
            <b>Password</b><br/>
            <input type="password" name="password" size="40">

        </p>
        <p>
            <button type="submit" class="btn btn-success">Login</button>
                &nbsp;<a href="/" title="cancel" class="btn">Cancel</a>
        </p>
       <!-- <p>
            <b><a href="/signup">Signup</a></b>
        </p>-->
        </form>
    </div>
</div>